@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', arial;
}

html {
    background-color: #E3EAF2;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    column-gap: 4vw;
    background-color: #E3EAF2;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    width: 7vw;
    height: 95vh;
    padding: 15px;
    margin-left: 1vw;
    margin-top: 3vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.192);
    position: fixed;
    top: -10px;
    left: 0;
    row-gap: 0.1vh; /* Ajuste aqui o valor para o espaço entre os ícones */
}

.side-bar img {
    width: 3.3vw;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 0; /* Remova a margem inferior, se necessário */
}


.side-bar img:hover {
    transform: scale(1.1);
}

.dashboard {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10vw;
}

.dashboard-header {
    width: calc(100vw - 10vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vh;
}

.dashboard-content {
    margin-top: 30px; /* ou outro valor que esteja aqui */
    padding-top: -20px; /* ajuste conforme necessário */
}

.perfil-wrapper{
    margin-right: 5vw;
    font-size: 1.4rem;
    font-weight: 600;
}


.dashboard-header img {
    width: 3.5vw;
    cursor: pointer;
}

.dashboard-header h1 {
    width: 280px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    margin-left: 2vw;
}

.saldos-content {
    display: flex;
    column-gap: 4vw;
    width: calc(100vw - 10vw);
    margin-left: 2vw;
    margin-top: -55px;
}

.valores-card {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #0d12ad70;
    border-radius: 33px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    background-color: #dae8f7;
    transition: transform 0.3s ease;
}

.valores-card:hover {
    transform: scale(1.05);
}

.valores-card h1, span {
    font-size: 1.4rem;
    font-weight: 600; 
}

.valores-card h1 {
    color: #100DAB;
}

.valores-card img {
    width: 5vw;
    height: 5vw;
}

.categorias-planejamentos {
    display: flex;
    column-gap: 5vw;
    margin-left: 2vw;
}

.campo-mes-ano{
    margin-top: 5vh;
}

/* Responsividade */
@media (max-width: 768px) {
    .side-bar {
        width: 60px;
    }

    .side-bar img {
        width: 30px;
    }
    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

#nomeUsuarioDisplay {
    margin-left: 10px; /* Espaçamento entre o nome e o ícone */
}
.mais-icone img {
    width: 70px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    top: -15px;
}
 /* Estilo do calendário */
 .calendario {
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1; 
}

.calendario h3 {
    text-align: center;
    color: #100DAB;
}

.seletor-ano {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta {
    cursor: pointer;
    margin: 0 20px;
    color: #100DAB;
    font-size: 20px;
    font-weight: 800;
}

#anoSelecionado{
    font-size: 1.5rem;
    font-weight: 600;
}

.meses-grid{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}

.mes {
    display: inline-block;
    width: 5vw;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mes:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #100DAB;
}

.btn {
    width: 5vw;
    border-radius: 35px;
    font-size: 0.3rem;
}

#btnCancelar {
    background-color: transparent;
    color: #6930c3;
    border: 1px solid #100DAB;
    margin-right: 0px;
}

#btnResetar{
    background-color: #f00606;
    color: white;
}

#btnMesAtual {
    background-color: #100DAB;
    color: white;
}

.campo-mes-ano {
    position: relative;
    top: -70px;
    left: 45%; /* centraliza */
    transform: translateX(-50%); /* centraliza */
    background-color: #dae8f7;
    border: 1px solid #0d12ad70;
    border-radius: 33px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    color: #100DAB;
    font-weight: 700;
    width: 15vw;
    cursor: pointer;
}
.opcao {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.opcao img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.planejamento-container {
    width: 550px;
    height: 320px;
    display: flex;
    border: 1px solid #0d12ad70;
    border-radius: 33px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    background-color: #dae8f7;
    justify-content: center;
    padding: 20px;
    margin-top: -23.3vw;
    margin-left: 54.8vw;
    font-size: 16px;
}

.titulo-grafico {
    font-size: 1.2rem;
    color: #100DAB;
    text-align: center;
    margin-top: -15vw;
    display: flex;
    padding: 50px;

}

/*CSS do modal de transações*/

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escolha-tipo-transacoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
}

.label-receita, .label-despesa{
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.label-receita input, .label-despesa input{
    cursor: pointer;
    text-align: center;
}

.dados-transacoes{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-transacoes label{
    margin-top: 2vh;
}

.valor-transacao{
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0d12ad70;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    border-radius: 20px;
}

.valor-transacao:focus{
    outline: none;
}

.dados-transacoes input{
    margin-top: 1vh;
    cursor: pointer;
}

.categoria-opcao input, .categoria-opcao label{
    cursor: pointer;
}

.grid-categorias-despesa label, .grid-categorias-receita label{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
}

.grid-categorias-despesa, .grid-categorias-receita{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5vw;
    /*background-color: rgba(127, 255, 212, 0.432);*/
  }

.grid-conta-selecao{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5vw;
  }

.grid-conta-selecao label{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
  }

  .conta-opcao input, .conta-opcao label{
    cursor: pointer;
  }

.adicionar-categoria{
    margin-top: 1.5vh;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

#nova-categoria{
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0d12ad70;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    border-radius: 20px;
  }

#nova-categoria:focus{
    outline: none;
}

#btn-add-categoria{
    margin-top: 1vh;
    font-size: 1rem;
    font-weight: 500;
    padding: 7px;
    border-radius: 15px;
    color: white;
    background-color: #100DAB;
}

.data-transacao{
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0d12ad70;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    border-radius: 20px;
}

.data-transacao:focus{
    outline: none;
}

.adicionar-transacao{
    margin-top: 3vh;
    width: 10vw;
    font-size: 1rem;
    font-weight: 500;
    padding: 7px;
    border-radius: 15px;
    color: white;
    background-color: #100DAB;
}

/*Fim do Modal de Transações*/

.chart-container {
    width: 41vw;
    height: 20vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d12ad70;
    border-radius: 33px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    background-color: #dae8f7;
    padding: 20px; 
    font-size: 16px;
    position: absolute; 
    top: 40%; /* Ajuste conforme necessário */
    left: 12%; /* Fica sempre à esquerda */
    margin-top: 1%; /* Ajusta o espaçamento superior */
    cursor: pointer; /* Mudar o cursor para o ícone de mão */
    transition: transform 0.3s ease; /* Transição suave */
}


.planejamento-container2{
    width: 41vw;
    height: 20vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d12ad70;
    border-radius: 33px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    background-color: #dae8f7;
    padding: 30px; 
    font-size: 16px;
    position: absolute; 
    top: 40%; 
    left: 54%; 
    margin-top: 1%; 
    cursor: pointer; /* Mudar o cursor para o ícone de mão */
    transition: transform 0.3s ease; /* Transição suave */
}

.pie-chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Fundo do retângulo da pizza */
    border-radius: 20px; /* Arredondamento do retângulo da pizza */
    padding: 20px; /* Espaçamento interno do retângulo */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Sombra do retângulo */ 
}
  
.planejamento-container2:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 10% */
}

.chart-container:hover{
    transform: scale(1.05);
}