@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial;
}

html{
    background-color: #E3EAF2; /* Cor de fundo consistente */
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    column-gap: 4vw;
    background-color: #E3EAF2; /* Cor de fundo consistente */
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    width: 7vw;
    height: 95vh;
    padding: 15px;
    margin-left: 1vw;
    margin-top: 3vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.192);
    position: fixed;
    top: -10px;
    left: 0;
    row-gap: 0.1vh; /* Ajuste aqui o valor para o espaço entre os ícones */
}

.side-bar img {
    width: 3.3vw;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 0; /* Remova a margem inferior, se necessário */
}

.mais-icone img {
    width: 70px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    top: -15px;
}
/* Adiciona um efeito de hover */
.side-bar .img-hover:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.planejamento{
    display: flex;
    flex-direction: column;
    row-gap:5vh;
    margin-left: 10vw; /* Adicionar margem para compensar a sidebar fixa */
}


.planejamento-header {
    width: calc(100vw - 10vw); /* Ajustar largura para compensar a sidebar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vh;
}

.perfil-wrapper{
    margin-right: 5vw;
    font-size: 1.4rem;
    font-weight: 600;
}

.planejamento-header img {
    width: 3.5vw;
    cursor: pointer;
}

.planejamento-header h1 {
    width: 280px;
    height: 27px;
    flex-shrink: 0;
    color: #000; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 35px; 
    font-style: normal; 
    font-weight: 600; 
    line-height: normal; 
    margin-left: 2vw;
}

#nomeUsuarioDisplay {
    margin-left: 10px; /* Espaçamento entre o nome e o ícone */
}

.filtro{
    margin-left: 2vw;
    display: flex;
    align-items: center;
    column-gap: 1.5vw;
}

.filtro span{
    font-weight: 500;
    color: #414141;
    font-size: 1.7rem;
    display: flex;
}

.filtro-data{
    font-size: 1.3rem;
    padding: 8px 15px;
    width: 11vw;
    border-radius: 10px;
    background-color: #f7fbff;
    border: 1px solid #100DAB; /* Borda cinza */
    border-radius: 33px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filtro button{
    padding: 8px 15px;
    width: 7vw;
    border-radius: 10px;
    border: 1px solid #0d12ad70;
    border-radius: 33px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #dae8f7;
    border: 1px solid #100DAB; /* Borda cinza */
    border-radius: 60px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.botao-adicionar{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 15px;
    text-align: center;
    background-color: #100DAB;
    color: white;
    width: 220px;
    border-radius: 33px;
    cursor: pointer;
    margin-left: 0.,9vw;
}

.metas{
    display: flex;
    column-gap: 2vw;
}

.metas-lista{
    overflow-y: scroll;
    width: 55vw;
    height: 63vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2vh;
    background-color: #dae8f7;
    border: 1px solid #0d12ad70;
    border-radius: 30px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
}

.item-lista{
    width: 50vw;
    padding: 10px;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.563rem;
    font-weight: 500;
    cursor: pointer;
}

.nome-icone-meta{
    display: flex;
    column-gap: 1vw;
    font-weight: 600;
    margin-left: 2vw;
}

.nome-meta{
    font-size: 1.8rem;
}

.valor-adicionado-acumulado{
    font-size: 1.1rem;
}

.gambiarra{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-lista:first-child{
    margin-top: 3vh;
}

.item-lista:last-child{
    margin-bottom: 3vh;
}

.valor-meta{
    color: #349308e5;
    font-weight: 600;
    font-weight: 2rem;
    margin-right: 5vw;
}

.barra-divisora{
    background-color: #535353;
    width: 90vw;
    height: 0.1vh;
    margin-top: 1vh;
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra vertical */
    height: 12px; /* Altura da barra horizontal */
}

.valores{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}


.receita {
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dae8f7;
    border: 1px solid #0d12ad70;
    border-radius: 30px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    width: 25rem; /* Altere para rem */
    padding: 20px;
    font-size: 1.563rem;
    font-weight: 500;
    margin-top: -31.5vw; /* Altere para rem */
    margin-left: 120vw; /* Altere para rem */
}
.expectativa {
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dae8f7;
    border: 1px solid #0d12ad70;
    border-radius: 30px;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    width: 25rem; /* Altere para rem */
    padding: 20px;
    font-size: 1.563rem;
    font-weight: 500;
    margin-top: -1vw; /* Altere para rem */
    margin-left: 120vw; /* Altere para rem */

}


.receita-header-valor, .expectativa-header-valor{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.receita-header, .expectativa-header{
    color:#0d13ad;
    font-weight: 600;
}

.receita-valor, .expectativa-valor{
    color: #349308e5;
    font-weight: 600;
}

.receitas, .expectativa img{
    width: 4vw;
}

/*CSS do modal de transações*/

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body label{
    font-size: 1.3rem;
    font-weight: 600;
}

.modal-body input{
    cursor: pointer;
    text-align: center;
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0d12ad70;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    border-radius: 20px;
}

.escolha-tipo-transacoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
}

.label-receita, .label-despesa{
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.label-receita input, .label-despesa input{
    cursor: pointer;
    text-align: center;
}

.dados-transacoes{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-transacoes label{
    margin-top: 2vh;
}

.valor-transacao{
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0d12ad70;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    border-radius: 20px;
}

.valor-transacao:focus{
    outline: none;
}

.dados-transacoes input{
    margin-top: 1vh;
    cursor: pointer;
}

.categoria-opcao input, .categoria-opcao label{
    cursor: pointer;
}

.grid-categorias-despesa label, .grid-categorias-receita label{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
}

.grid-categorias-despesa, .grid-categorias-receita{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5vw;
    /*background-color: rgba(127, 255, 212, 0.432);*/
  }

.grid-conta-selecao{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5vw;
  }

.grid-conta-selecao label{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
  }

  .conta-opcao input, .conta-opcao label{
    cursor: pointer;
  }

.adicionar-categoria{
    margin-top: 1.5vh;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

#nova-categoria{
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0d12ad70;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    border-radius: 20px;
  }

#nova-categoria:focus{
    outline: none;
}

#btn-add-categoria{
    margin-top: 1vh;
    font-size: 1rem;
    font-weight: 500;
    padding: 7px;
    border-radius: 15px;
    color: white;
    background-color: #100DAB;
}

.data-transacao{
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0d12ad70;
    box-shadow: 0 4px 3px -2px #0d12ad70;
    border-radius: 20px;
}

.data-transacao:focus{
    outline: none;
}

.adicionar-transacao{
    margin-top: 3vh;
    width: 10vw;
    font-size: 1rem;
    font-weight: 500;
    padding: 7px;
    border-radius: 15px;
    color: white;
    background-color: #100DAB;
}

.select-icons label {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.select-icons input[type="radio"] {
    display: none;
}

.select-icons label i {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.select-icons input[type="radio"]:checked + i {
    color: #007bff;
}
